// Palette Colori del Brand
$primary-purple: #5A189A;
$hover-pink: #B5179E;
$active-orange: #FF452A;
$dark-text: #262626;
$footer-bg: #ECE8EF;
$white: #ffffff;

// Font del Progetto (Poppins & Anthony Gilford)
$font-sans: 'Poppins', sans-serif;
$font-cursive: 'Anthony Gilford', cursive, sans-serif;

// Test compilation: 1

